
<h1>Zaķu krogs</h1>
<ul>
  <% @categories.each do |category|%>
    
    <h3><li> <%= category.name %> </li></h3>
    <ul>
      <% category.products.each do |product| %>
        <h4><%= product.name %> -------------
          <%= product.price %> Euro
          <%= check_box_tag(:product) %> </h4>
          Pieejamais daudzums: <%= product.available_count %>
        <p>Sastāvs:<%= product.components.join(", ") %></p>
      <% end %>
    </ul>
  <% end %>
</ul>
    
